.hero {
  margin-bottom: 10.5rem;
  .hero__container {
    margin-top: 2rem;
    @include breakpoint-up(medium) {
      flex-direction: row-reverse;
      margin-top: 4rem;
      gap: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  &__image {
    // background: url('../images/illustration-working.svg');
    // background-size: 457px 324px;
    // background-position: 25px 15px;
    // background-repeat: no-repeat;
    // height: 21.4375rem;
    // margin-bottom: 39px;

    img {
      height: 20.4375rem;
      width: 468px;
      margin-bottom: 41px;
      margin-right: -157px;
      margin-top: -1.125rem;
      // width: 27.9rem;
      // margin-left: auto;
      
      // height: 19.4375rem;
      // margin-right: -135px;
      
      @include breakpoint-up(large) {
        height: 27.4375rem;
        width: 664px;
        margin-right: -227px;

      }

      // @include breakpoint-down(small) {
      // }
    }
  }

  &__texts {
    align-items: center;
    @include breakpoint-down(medium) {
      margin-top: 2rem;
    }
    
    @include breakpoint-up(large) {
      align-items: unset;
      margin-top: 3rem;
      max-width: 43rem;
    }

    h1 {
      font-size: 2.5rem;
      text-align: center;
      color: $veryDarkBlue;
      line-height: 1.1;
      letter-spacing: -2px;
      margin-bottom: 10px;
      // margin-top: 2.2rem;

      @include breakpoint-up(medium) {
        margin-left: 1.7rem;
        margin-right: 1.7rem;
      }

      @include breakpoint-up(large) {
        font-size: 5rem;
        text-align: left;
        margin-left: -4px;
      }
    }

    p {
      font-size: 1.1rem;
      text-align: center;
      color: #96959d;
      margin-top: 4px;
      padding-left: 1rem;
      padding-right: 1rem;
      line-height: 1.7;
      margin-bottom: 2rem;

      @include breakpoint-up(medium) {
        font-size: 1.4rem;
        text-align: left;
        margin-left: 50px;
      }

      @include breakpoint-up(large) {
        margin-left: -15px;
      }
    }

    .hero__cta {
      text-decoration: none;
      background-color: $cyan;
      color: #fff;
      font-size: 1.2rem;
      font-weight: $font-weight-heavy;
      padding: 1rem 2rem;
      text-transform: capitalize;
      border-radius: 30px;
      
      &:hover {
        opacity: 0.8;
      }
      
      @include breakpoint-up(medium) {
        text-align: left;
        width: 17%;
      }
    }
  }
}
